{
  "ecmaFeatures": {
    "blockBindings": true,
    "arrowFunctions": true,
    "classes": true,
    "templateStrings": true,
    "destructuring": true,
    "objectLiteralShorthandMethods": true,
    "spread": true,
    "restParams": true,
  },
}